/* From bootstrap starter template. Push content below navbar. */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template h1 {
  font-size: 64px;
}