<div class="container">
  <div class="starter-template">
    <h1>Wait &amp; Eat</h1>
    <div class="lead">An AngularJS learning project</div>
    <button type="button" class="btn btn-primary">Try it out!</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Twilio</h2>
      <p>SMS integration! Twilio lets you use standard web languages to build voice, VoIP and SMS applications via a web API.</p>
    </div>
    <div class="col-md-4">
      <h2>Firebase</h2>
      <p>Platform as a service, no-backend apps! Firebase is a realtime backend as a service that allows you to create incredible apps. </p>
    </div>
    <div class="col-md-4">
      <h2>Zapier</h2>
      <p>Interface with APIs! Zapier connects the web apps you use to easily move your data and automate tedious tasks.</p>
    </div>
  </div>
</div>
